.DS_Store
.env
.idea
.venv
**/cache/
**/catboost_info/
**/wandb/
**/.tabstar_checkpoint/
**/tabstar.egg-info/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.TabSTAR-env/

# Distribution / packaging
*.egg-info/
dist/
build/
